* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sofia Pro, sans-serif;
}

body {
  background: #f6f6f6;
  color: #333333;
  -webkit-font-smoothing: antialiased !important;
}

html {
  --background: #f6f6f6;
  --primary: #3F0E62;
  --secondary: #007AFF;
  --text: #333333;
  --primary-dark: #320b4e;
}
